@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, u, s,
dl, dt, dd, ol,
form, fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption,
figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
}

/*Обнуление--------------------------------------*/
header {
  background-color: #F2E1D5;
  padding-bottom: 10px;
}
header img {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
}
header h1 {
  margin: auto;
  margin-top: 25px;
  font-size: 20px;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

.shortManual .manual-btn {
  position: absolute;
  top: 81.16px;
  right: 0;
  background-color: none;
  border: none;
  padding: 5px 30px 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Alice";
  font-size: 12px;
  z-index: 100;
}
.shortManual .manual-btn:hover {
  background-color: #A8F3F3;
}
.shortManual .manual {
  width: 40%;
  position: absolute;
  right: 0;
  top: 104.99px;
  z-index: 100;
  background-color: #F2E1D5;
  padding-right: 10px;
}
.shortManual .manual ul {
  list-style: circle;
}
.shortManual .manual li {
  font-family: "Alice";
  font-size: 14px;
  padding-bottom: 7px;
}

.createButt {
  margin-top: 10px;
  margin-left: 60px;
  background-color: #75CAEE;
  border-width: 1px;
  border-radius: 54px;
  padding: 7px 32px 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Alice";
  font-size: 16px;
  cursor: pointer;
}
.createButt:hover {
  background-color: #A8F3F3;
}

.setParam {
  margin-top: 5px;
  margin-left: 60px;
}

.machine-stand {
  position: absolute;
  left: 227px;
  top: 271px;
  z-index: 10;
}
.machine-basicCirc {
  position: absolute;
  left: 301px;
  top: 178px;
  z-index: 20;
}
.machine-bolt1 {
  position: absolute;
  left: 284px;
  top: 448px;
  z-index: 15;
}
.machine-bolt2 {
  position: absolute;
  left: 494px;
  top: 448px;
  z-index: 15;
}
.machine-lever {
  position: absolute;
  left: 565px;
  top: 293px;
  z-index: 20;
}
.machine-pedal {
  position: absolute;
  left: 200px;
  top: 517px;
  z-index: 5;
}
.machine-smallRulLeft {
  position: absolute;
  left: 229px;
  top: 416px;
  z-index: 20;
}
.machine-smallRulRight {
  position: absolute;
  left: 573px;
  top: 416px;
  z-index: 20;
}
.machine-standLeft {
  position: absolute;
  left: 177px;
  top: 374px;
  z-index: 20;
}
.machine-standRight {
  position: absolute;
  left: 598px;
  top: 374px;
  z-index: 20;
}
.machine-line {
  position: relative;
  left: 256px;
  top: 267px;
  z-index: 20;
}
.machine basicCirc {
  opacity: 0.7;
}

.toolsStand-shelter {
  position: absolute;
  left: 750px;
  top: 341px;
}
.toolsStand-blankStorageAtt {
  position: absolute;
  left: 750px;
  top: 294px;
}
.toolsStand-garbage {
  position: absolute;
  left: 919px;
  top: 276px;
}
.toolsStand-ruler {
  position: absolute;
  left: 750px;
  top: 510px;
}

.hiddenTools .baseCircBa, .hiddenTools .blankStorage, .hiddenTools .blankStorageDone, .hiddenTools .blankStorageDoneSmall {
  display: none;
}

.line, .lever, .pedal, .blankStorageAtt, .ruler, .blankStorage,
.baseCircBa, .blankStorageDone, .blankStorageDoneSmall, .manual-btn {
  cursor: pointer;
}